div{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#fff;
    padding:10px;
}
.top-bar{
    width:100%;
    height:150px;
    border:2px solid #555;
    position:relative;
}

.box{
    width:90px;
    height:90px;
    border:2px solid red;
    position:absolute;
    top: 25px;
}
.left{
    left:20px;
}
.right{
    right:20px;
}
.middle-bar{
    width:60%;
    height:90px;
    border:2px solid blue;
    margin:20px auto;
    position:relative;
}

.small-box{
    width:45px;
    height:45px;
    border:2px solid red;
    position:absolute;
    top:20px;
}

.small-box:first-child{
    left:20px;
}

.small-box:last-child{
    right:20px;
}
.center-box{
    width:300px;
    height:80px;
    border:2px solid gold;
    margin:20px auto;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.green-box{
    width:50px;
    height:50px;
    border:2px solid green;
}

.content{
    width: 100%;
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.left-panel{
    width:45%;
    height:500px;
    border:2px solid blue;
}

.right-panel{
    width:45%;
    height:500px;
    border:2px solid blue;
    margin-top:200px;
}
